body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.table ol li{
    list-style-type: none;
    width: 100%;
    height:auto;
    float:left;	    
    margin:0 0 10px 0;
}

.blocos ol li{
    list-style-type: none;			
    width: calc(33% - 20px);
    width: -webkit-calc(33% - 20px);
    width: -o-calc(33% - 20px);
    width: -moz-calc(33% - 20px);
    width: -ms-calc(33% - 20px);
    height:auto;
    float:left;	    
    margin: 0 10px 20px 10px !important;
}

.modal-bloco ul.abas{
	padding: 0;
}

.modal-bloco ul.abas li.aba{
	text-align: center;
	min-width: 100px;
	margin:0 3px !important;
	padding: 2px 10px;
	cursor:pointer;
	float: left;
	border: 2px dotted black;
	border-bottom: none;
	background: #eee;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.modal-bloco ul.abas li.active, li.aba:hover{
	border: 2px dotted black !important;
	border-bottom: none !important;
	background: white !important;
}

.modal-bloco ul.abas li.aba:active{
	background: rgba(100,100,100,.05) !important;
}

.modal{
	z-index: 9999 !important;
}